.favorite-container {
    padding: 20px;
    text-align: center;
    height: 80vh;
    width: 100%;
  }
  
  .favorite-list {
    list-style-type: none;
    padding: 0;
  }
  
  .favorite-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  .favorite-item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
  }
  
  .favorite-item-details {
    text-align: left;
  }
  
  .sign-in-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .sign-in-link:hover {
    color: darkblue;
  }